{%- unless request.page_type == 'product' -%}
	<link rel="stylesheet" href="{{ 'component-product.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-share.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endunless -%}
<link rel="stylesheet" href="{{ 'component-quick-view.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-share.css' | asset_url }}" media="print" onload="this.media='all'">

{%- unless request.page_type == 'product' -%}
	<noscript>{{ 'component-product.css' | asset_url | stylesheet_tag }}</noscript>
{%- endunless -%}
<noscript>{{ 'component-quick-view.css' | asset_url | stylesheet_tag }}</noscript>

<div class="scoder-popup scoder-quick-view-popup customPopup-large" data-quick-view-popup id="scoder-quick-view-popup" data-url-variants-quick-view="{{ 'variants-quick-view.js' | asset_url }}" data-url-style-product="{% unless request.page_type == 'product' %}{{ 'component-product.css' | asset_url }}{% endunless %}" data-url-style-quick-view="{{ 'component-quick-view.css' | asset_url }}">
	<div class="scoder-popup-wrapper">
		<button type="button" class="scoder-popup-close clearfix" data-close-quick-view-popup aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}</button>
	    <div class="scoder-popup-content scoder-popup-scroll custom-scrollbar"></div>
	</div>
</div>
