{% if section.blocks.size > 0 %}
  {%-liquid
    assign container = section.settings.container
  -%}
  {% render 'collection-grid-style' %}
  <div class="collection-grids collection-grids-block-{{section.id}}">
    <div class="{% if container == 'fullwidth'%}container-full{% else %}container{% endif %}">
      <div class="collection-grids-inner">
        {%- if section.settings.product_block_title != blank or section.settings.sub_title != blank -%}
          <div class="section-header">
            <div class="row align-item-center">
              <div class="{% if section.settings.view_all != blank %}col-xl-9 col-lg-9 col-md-9{% else %}col-xl-12 col-lg-12 col-md-12{% endif %}">
                <div class="section-title text-{{ section.settings.product_block_align }} text-mb-{{ section.settings.product_block_align_mobile }}">
                  {%- if section.settings.sub_title != blank -%}
                      <p class="banner-sub-title wow {{ section.settings.animations_type_subtitle }} delay-{{ settings.settings.animation_delay_subtitle | replace: ".", "_" }}">
                          <style>
                            .collection-grids-block-{{section.id}} .banner-sub.delay-{{ block.settings.animation_delay_subtitle | replace: ".", "_" }} {
                                animation-delay: {{ block.settings.animation_delay_subtitle }}
                            }
                          </style>
                          <span>{{ section.settings.sub_title }}</span>
                      </p>
                  {%- endif -%}
                  <h3 class="title wow {{ section.settings.animations_type_title }} delay-{{ settings.settings.animation_delay_title | replace: ".", "_" }}">
                      <style>
                        .collection-grids-block-{{section.id}} .section-header .title.delay-{{ block.settings.animation_delay_title | replace: ".", "_" }} {
                            animation-delay: {{ block.settings.animation_delay_title }}
                        }
                      </style>
                      <span class="text">{{ section.settings.product_block_title | escape }}</span>
                  </h3>
                </div>
              </div>
              {% if section.settings.view_all != blank %}
                <div class="col-xl-3 col-lg-3 col-md-3">
                  
                  <div class="view-all-button text-{{ section.settings.view_all_align }} text-mb-{{ section.settings.view_all_align_mobile }} wow {{ section.settings.animations_type_button }} delay-{{ settings.settings.animation_delay_button | replace: ".", "_" }}">
                    <style>
                      .collection-grids-block-{{section.id}} .section-header .view-all-button.delay-{{ block.settings.animation_delay_button | replace: ".", "_" }} {
                          animation-delay: {{ block.settings.animation_delay_button }}
                      }
                    </style>
                    <a class="view_all"{% if section.settings.link_view_all == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.link_view_all }}"{% endif %} title="{{ section.settings.view_all }}">
                        {{ section.settings.view_all }}
                        {%- if section.settings.icon_view_all -%}
                          <span class="icon-svg">
                              {{ section.settings.icon_view_all }}
                          </span>
                        {%- endif -%}
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {%- endif -%}
        <div class="collectionGrid">
          {% for block in section.blocks %}
            <div class="collectionGrid-box column-{{ section.settings.layout }} column-tb-{{ section.settings.layout_tablet }} column-mb-{{ section.settings.layout_mobile }} collectio-block-{{block.id}} wow {{ block.settings.animations_type }} delay-{{ block.settings.animation_delay | replace: ".", "_" }}">
              <style>
                .collection-grids-block-{{section.id}} .collectionGrid-box.delay-{{ block.settings.animation_delay | replace: ".", "_" }} {
                    animation-delay: {{ block.settings.animation_delay }}
                }
              </style>
              <div class="collection-grid-box {% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }} animate-hidden{% endif %}">
              {% if block.settings.image != blank %}
                  <a {% if block.settings.link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %} class="image-zoom animate-ambient-image">
                      {%- assign preview_img = block.settings.image -%}
                      <img {% render 'lazyload',preview_img: preview_img %} />
                      {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                  </a>
                {% else %}
                  <div class="not_img" style="--height_not_img: 525px">915 x 525</div>
                {% endif %}
                {% if block.settings.button != blank %}
                  {% if section.settings.button_style == '1'%}
                    <div class="collection-grid-link align-{{ block.settings.button_align }} align-h-{{ block.settings.button_align_horizontal }}">
                      <a {% if block.settings.link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %} class="button-link">
                        {{ block.settings.button }}
                      </a>
                    </div>
                  {% else %}
                    <div class="collection-grid-link align-{{ block.settings.button_align }} align-h-{{ block.settings.button_align_horizontal }}">
                      <a {% if block.settings.link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %} class="button button-link">
                        {{ block.settings.button }}
                      </a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
            <style>
                .collectio-block-{{block.id}} .collection-grid-link.align-left {
                    left: {{ section.settings.button_position_left_right }};
                }
                .collectio-block-{{block.id}} .collection-grid-link.align-right {
                    right: {{ section.settings.button_position_left_right }};
                }
                .collection-grid-box .animate-ambient-image {
                      display: block;
                }
            </style>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
    "name": "t:sections.collection_grid.name",
    "class": "sections-spotlight-block",
    "max_blocks": 10,
    "settings": [
      {
          "type": "header",
          "content": "t:sections.layout.content"
      },
      {
          "type": "select",
          "id": "container",
          "label": "t:sections.layout.container.option",
          "default": "fullwidth",
          "options": [
              {
                  "value": "container",
                  "label": "t:sections.layout.container.option1"
              },
              {
                  "value": "fullwidth",
                  "label": "t:sections.layout.container.option2"
              }
          ]
      },
      {
          "type": "range",
          "id": "padding_full_width",
          "label": "t:sections.layout.container.padding_full_width",
          "min": 0,
          "max": 70,
          "step": 5,
          "unit": "t:sections.layout.fontsize.fontsize_title.unit",
          "default": 30,
          "info": "t:sections.layout.container.info_full_width"
      },
      {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "t:sections.image-banner.blocks.image.settings.content.enable_overlay",
          "default": false
      },
      {
        "id": "overlay_color",
        "type": "color",
        "label": "t:sections.image-banner.blocks.image.settings.content.overlay_color"
      },
      {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.image-banner.blocks.image.settings.content.overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "checkbox",
          "id": "border_top",
          "label": "t:sections.layout.border_top",
          "default": false
      },
      {
          "type": "checkbox",
          "id": "border_bottom",
          "label": "t:sections.layout.border_bottom",
          "default": false
      },
      {
          "type": "range",
          "id": "border_width",
          "label": "t:sections.layout.border_width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
        "id": "border_color",
        "type": "color",
        "label": "t:sections.layout.border_color"
      },
      {
          "type": "header",
          "content": "t:sections.layout.margin_top"
      },
      {
          "type": "range",
          "id": "mg_top_desktop",
          "label": "t:sections.layout.mg_desktop.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_top_tablet",
          "label": "t:sections.layout.mg_tablet.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 40
      },
      {
          "type": "range",
          "id": "mg_top_mobile",
          "label": "t:sections.layout.mg_mobile.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
          "type": "header",
          "content": "t:sections.layout.margin_bottom"
      },
      {
          "type": "range",
          "id": "mg_bottom_desktop",
          "label": "t:sections.layout.mg_desktop.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_bottom_tablet",
          "label": "t:sections.layout.mg_tablet.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 40
      },
      {
          "type": "range",
          "id": "mg_bottom_mobile",
          "label": "t:sections.layout.mg_mobile.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
          "type": "header",
          "content": "t:sections.image-banner.blocks.image.settings.header__2.sub_title"
      },
      {
          "type": "textarea",
          "id": "sub_title",
          "label": "t:sections.image-banner.blocks.image.settings.content.sub_title",
          "default": "STYLE FASHION"
      },
      {
          "type": "range",
          "id": "font_size_sub_title",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 22
      },
      {
        "type": "range",
        "id": "sub_title_line_height",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:settings_schema.typography.settings.typography.label__1",
        "default": 25
      },
      {
          "type": "range",
          "id": "font_size_sub_title_tb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_tb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 16
      },
      {
          "type": "range",
          "id": "sub_title_line_height_tb",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.label__1",
          "default": 20
      },
      {
          "type": "range",
          "id": "font_size_sub_title_mb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
        "type": "range",
        "id": "sub_title_line_height_mb",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:settings_schema.typography.settings.typography.label__1",
        "default": 18
      },
      {
          "type": "select",
          "id": "sub_heading_font",
          "label": "t:settings_schema.typography.settings.font_type.label",
          "options": [
          {
              "value": "font_1",
              "label": "t:settings_schema.typography.settings.font_family__1.content"
          },
          {
              "value": "font_2",
              "label": "t:settings_schema.typography.settings.font_family__2.content"
          }],
          "default": "font_1"
      },
      {
        "type": "select",
        "id": "sub_title_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.sub_title",
        "default": "400",
        "options": [
          {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_title_transform",
        "label": "t:settings_schema.typography.settings.text_transform.label",
        "default": "uppercase",
        "options": [
          {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
          },
          {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
          },
          {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
          },
          {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
          }
        ]
      },
      {
          "type": "range",
          "id": "font_size_sub_letter_spacing",
          "label": "t:settings_schema.typography.settings.typography.label__2",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "id": "sub_title_color",
          "type": "color",
          "label": "t:settings_schema.colors.settings.colors_text.label__1"
      },
      {
          "type": "range",
          "id": "sub_title__space_top",
          "label": "t:sections.layout.mg_desktop.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 10
      },
      {
          "type": "range",
          "id": "sub_title__space_top_tb",
          "label": "t:sections.layout.mg_tablet.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 10
      },
      {
          "type": "range",
          "id": "sub_title__space_top_mb",
          "label": "t:sections.layout.mg_mobile.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 10
      },
      {
        "type": "select",
        "id": "animations_type_subtitle",
        "label": "t:sections.animation.label_1",
        "default": "none",
        "options": [
          {
              "value": "none",
              "label": "t:sections.animation.settings.type.option_0"
          },
          {
              "value": "fadeIn",
              "label": "fadeIn"
          },
          {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
          },
          {
              "value": "fadeInRight",
              "label": "fadeInRight"
          },
          {
              "value": "fadeInUp",
              "label": "fadeInUp"
          },
          {
              "value": "fadeInDown",
              "label": "fadeInDown"
          },
          {
              "value": "slideInLeft",
              "label": "slideInLeft"
          },
          {
              "value": "slideInRight",
              "label": "slideInRight"
          },
          {
              "value": "slideInUp",
              "label": "slideInUp"
          },
          {
              "value": "slideInDown",
              "label": "slideInDown"
          },
          {
              "value": "zoomIn",
              "label": "zoomIn"
          },
          {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
          },
          {
              "value": "zoomInRight",
              "label": "zoomInRight"
          },
          {
              "value": "zoomInUp",
              "label": "zoomInUp"
          },
          {
              "value": "zoomInDown",
              "label": "zoomInDown"
          },
          {
              "value": "bounce",
              "label": "bounce"
          },
          {
              "value": "bounceIn",
              "label": "bounceIn"
          },
          {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
          },
          {
              "value": "bounceInRight",
              "label": "bounceInRight"
          },
          {
              "value": "bounceInUp",
              "label": "bounceInUp"
          },
          {
              "value": "bounceInDown",
              "label": "bounceInDown"
          },
          {
              "value": "rotateIn",
              "label": "rotateIn"
          },
          {
              "value": "rotateInDownLeft",
              "label": "rotateInDownLeft"
          },
          {
              "value": "rotateInDownRight",
              "label": "rotateInDownRight"
          },
          {
              "value": "rotateInUpLeft",
              "label": "rotateInUpLeft"
          },
          {
              "value": "rotateInUpRight",
              "label": "rotateInUpRight"
          }
        ]
      },
      {
        "type": "text",
        "id": "animation_delay_subtitle",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
          "type": "header",
          "content": "t:sections.layout.section_heading"
      },
      {
          "type": "textarea",
          "id": "product_block_title",
          "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
          "default": "TRENDING PRODUCT"
      },
      {
          "type": "select",
          "id": "product_block_align",
          "label": "t:sections.product_block.settings.general.label__7",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "left"
      },
      {
          "type": "select",
          "id": "product_block_align_mobile",
          "label": "t:sections.product_block.settings.general.label__11",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "center"
      },
      {
          "type": "range",
          "id": "mg_bottom_title",
          "label": "t:sections.layout.mg_bottom_title.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_bottom_title_mb",
          "label": "t:sections.layout.mg_bottom_title.label_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
        "type": "select",
        "id": "animations_type_title",
        "label": "t:sections.animation.label_1",
        "default": "none",
        "options": [
          {
              "value": "none",
              "label": "t:sections.animation.settings.type.option_0"
          },
          {
              "value": "fadeIn",
              "label": "fadeIn"
          },
          {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
          },
          {
              "value": "fadeInRight",
              "label": "fadeInRight"
          },
          {
              "value": "fadeInUp",
              "label": "fadeInUp"
          },
          {
              "value": "fadeInDown",
              "label": "fadeInDown"
          },
          {
              "value": "slideInLeft",
              "label": "slideInLeft"
          },
          {
              "value": "slideInRight",
              "label": "slideInRight"
          },
          {
              "value": "slideInUp",
              "label": "slideInUp"
          },
          {
              "value": "slideInDown",
              "label": "slideInDown"
          },
          {
              "value": "zoomIn",
              "label": "zoomIn"
          },
          {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
          },
          {
              "value": "zoomInRight",
              "label": "zoomInRight"
          },
          {
              "value": "zoomInUp",
              "label": "zoomInUp"
          },
          {
              "value": "zoomInDown",
              "label": "zoomInDown"
          },
          {
              "value": "bounce",
              "label": "bounce"
          },
          {
              "value": "bounceIn",
              "label": "bounceIn"
          },
          {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
          },
          {
              "value": "bounceInRight",
              "label": "bounceInRight"
          },
          {
              "value": "bounceInUp",
              "label": "bounceInUp"
          },
          {
              "value": "bounceInDown",
              "label": "bounceInDown"
          },
          {
              "value": "rotateIn",
              "label": "rotateIn"
          },
          {
              "value": "rotateInDownLeft",
              "label": "rotateInDownLeft"
          },
          {
              "value": "rotateInDownRight",
              "label": "rotateInDownRight"
          },
          {
              "value": "rotateInUpLeft",
              "label": "rotateInUpLeft"
          },
          {
              "value": "rotateInUpRight",
              "label": "rotateInUpRight"
          }
        ]
      },
      {
        "type": "text",
        "id": "animation_delay_title",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
          "type": "text",
          "id": "view_all",
          "label": "t:settings_schema.typography.settings.typography.view_all",
          "default": "View All"
      },
      {
          "type": "url",
          "id": "link_view_all",
          "label": "t:settings_schema.typography.settings.typography.view_all_link"
      },
      {
          "type": "textarea",
          "id": "icon_view_all",
          "label": "t:settings_schema.typography.settings.typography.view_all_icon",
          "info" : "Go to this link [Find your Icon](https://fontawesome.com/v5.15/icons?d=gallery&p=2). Find the icon you want, then copy the SVG code and paste it here."
      },
      {
        "type": "select",
        "id": "animations_type_button",
        "label": "t:sections.animation.label_1",
        "default": "none",
        "options": [
          {
              "value": "none",
              "label": "t:sections.animation.settings.type.option_0"
          },
          {
              "value": "fadeIn",
              "label": "fadeIn"
          },
          {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
          },
          {
              "value": "fadeInRight",
              "label": "fadeInRight"
          },
          {
              "value": "fadeInUp",
              "label": "fadeInUp"
          },
          {
              "value": "fadeInDown",
              "label": "fadeInDown"
          },
          {
              "value": "slideInLeft",
              "label": "slideInLeft"
          },
          {
              "value": "slideInRight",
              "label": "slideInRight"
          },
          {
              "value": "slideInUp",
              "label": "slideInUp"
          },
          {
              "value": "slideInDown",
              "label": "slideInDown"
          },
          {
              "value": "zoomIn",
              "label": "zoomIn"
          },
          {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
          },
          {
              "value": "zoomInRight",
              "label": "zoomInRight"
          },
          {
              "value": "zoomInUp",
              "label": "zoomInUp"
          },
          {
              "value": "zoomInDown",
              "label": "zoomInDown"
          },
          {
              "value": "bounce",
              "label": "bounce"
          },
          {
              "value": "bounceIn",
              "label": "bounceIn"
          },
          {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
          },
          {
              "value": "bounceInRight",
              "label": "bounceInRight"
          },
          {
              "value": "bounceInUp",
              "label": "bounceInUp"
          },
          {
              "value": "bounceInDown",
              "label": "bounceInDown"
          },
          {
              "value": "rotateIn",
              "label": "rotateIn"
          },
          {
              "value": "rotateInDownLeft",
              "label": "rotateInDownLeft"
          },
          {
              "value": "rotateInDownRight",
              "label": "rotateInDownRight"
          },
          {
              "value": "rotateInUpLeft",
              "label": "rotateInUpLeft"
          },
          {
              "value": "rotateInUpRight",
              "label": "rotateInUpRight"
          }
        ]
      },
      {
        "type": "text",
        "id": "animation_delay_button",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
          "type": "range",
          "id": "button_text_font_size",
          "label": "t:settings_schema.typography.settings.font_size.label",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "t:settings_schema.typography.settings.font_size.unit",
          "default": 14
      },
      {
          "type": "select",
          "id": "button_text_font_weight",
          "label": "t:settings_schema.typography.settings.font_weight.label",
          "default": "500",
          "options": [
          {
              "value": "400",
              "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
              "value": "500",
              "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
              "value": "600",
              "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
              "value": "700",
              "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
              "value": "800",
              "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
              "value": "900",
              "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }]
      },
      {
          "type": "select",
          "id": "button_text_text_transform",
          "label": "t:settings_schema.typography.settings.text_transform.label",
          "default": "uppercase",
          "options": [
          {
              "value": "none",
              "label": "t:settings_schema.typography.settings.text_transform.options__1"
          },
          {
              "value": "capitalize",
              "label": "t:settings_schema.typography.settings.text_transform.options__2"
          },
          {
              "value": "uppercase",
              "label": "t:settings_schema.typography.settings.text_transform.options__3"
          },
          {
              "value": "lowercase",
              "label": "t:settings_schema.typography.settings.text_transform.options__4"
          }]
      },
      {
          "type": "select",
          "id": "view_all_align",
          "label": "t:sections.product_block.settings.general.label__7",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "right"
      },
      {
          "type": "select",
          "id": "view_all_align_mobile",
          "label": "t:sections.product_block.settings.general.label__11",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "left"
      },
      {
          "type": "select",
          "id": "layout",
          "label": "t:sections.main-collection-product-grid.settings.product.label__2",
          "default": "2",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            }
          ]
      },
      {
          "type": "select",
          "id": "layout_tablet",
          "label": "t:sections.main-collection-product-grid.settings.product.label__6",
          "default": "2",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            }
          ]
      },
      {
          "type": "select",
          "id": "layout_mobile",
          "label": "t:sections.main-collection-product-grid.settings.product.label__7",
          "default": "1",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            }
          ]
      },
      {
          "type": "range",
          "id": "collection_left_right_spacing",
          "label": "t:sections.main-collection-product-grid.settings.product.label__5",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 15
      },
      {
          "type": "range",
          "id": "collection_left_right_spacing_mobile",
          "label": "t:sections.main-collection-product-grid.settings.product.label__8",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 15
      },
      {
          "type": "header",
          "content": "t:sections.image-banner.blocks.image.settings.header__2.button"
      },
      {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.slide-show.settings.arrows.button_style",
          "default": "1",
          "options": [
          {
              "value": "1",
              "label": "t:sections.slide-show.settings.style_slideshow.option1"
          },
          {
              "value": "2",
              "label": "t:sections.slide-show.settings.style_slideshow.option2"
          }]
      },
      {
          "type": "select",
          "id": "button_collection_grid_font",
          "label": "t:settings_schema.typography.settings.font_type.label",
          "options": [
          {
              "value": "font_1",
              "label": "t:settings_schema.typography.settings.font_family__1.content"
          },
          {
              "value": "font_2",
              "label": "t:settings_schema.typography.settings.font_family__2.content"
          }],
          "default": "font_2"
      },
      {
        "type": "range",
        "id": "button_top_bottom_padding",
        "label": "t:settings_schema.typography.settings.font_size.button_top_bottom_padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:settings_schema.typography.settings.font_size.unit",
        "default": 12
      },
      {
          "type": "range",
          "id": "button_left_right_padding",
          "label": "t:settings_schema.typography.settings.font_size.button_left_right_padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:settings_schema.typography.settings.font_size.unit",
          "default": 35
      },
      {
          "type": "checkbox",
          "id": "button_enable",
          "label": "t:sections.image-banner.blocks.image.settings.content.label__20",
          "default": true
      },
      {
          "type": "range",
          "id": "button_font_size",
          "label": "t:settings_schema.typography.settings.typography.title_font_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
          "type": "range",
          "id": "button_font_size_tb",
          "label": "t:settings_schema.typography.settings.typography.title_font_size_tb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
          "type": "range",
          "id": "button_font_size_mb",
          "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
        "id": "button_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.text_color"
      },
      {
        "id": "button_hover_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.texthover_color"
      },
      {
        "id": "button_bg_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.background_color"
      },
      {
        "id": "button_bghover_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.backgroundhover_color"
      },
      {
        "id": "button_border_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.border_color"
      },
      {
        "id": "button_borderhover_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.button_colors.borderhover_color"
      },
      {
        "type": "select",
        "id": "button_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.sub_title",
        "default": "500",
        "options": [
          {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_transform",
        "label": "t:settings_schema.typography.settings.text_transform.label",
        "default": "uppercase",
        "options": [
          {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
          },
          {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
          },
          {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
          },
          {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
          }
        ]
      },
      {
          "type": "range",
          "id": "button_letter_spacing",
          "label": "t:settings_schema.typography.settings.typography.label__2",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
        "type": "text",
        "id": "button_position_left_right",
        "label": "t:sections.slide-show.settings.arrows.position_left_right",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "button_position_bottom",
        "label": "t:sections.slide-show.settings.arrows.position_bottom",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "t:sections.spotlight_block.blocks.image.smallImg",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.spotlight_block.blocks.image.name"
          },
          {
            "type": "select",
            "id": "image_behavior",
            "options": [
              {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
              },
              {
                "value": "ambient",
                "label": "t:sections.main-product.settings.general.image_behavior.option__1"
              },
              {
                "value": "zoom-in",
                "label": "t:sections.main-product.settings.general.image_behavior.option__3"
              }
            ],
            "default": "none",
            "label": "t:sections.main-product.settings.general.image_behavior.label"
          },
          {
            "type": "select",
            "id": "animations_type",
            "label": "t:sections.animation.label_1",
            "default": "none",
            "options": [
              {
                  "value": "none",
                  "label": "t:sections.animation.settings.type.option_0"
              },
              {
                  "value": "fadeIn",
                  "label": "fadeIn"
              },
              {
                  "value": "fadeInLeft",
                  "label": "fadeInLeft"
              },
              {
                  "value": "fadeInRight",
                  "label": "fadeInRight"
              },
              {
                  "value": "fadeInUp",
                  "label": "fadeInUp"
              },
              {
                  "value": "fadeInDown",
                  "label": "fadeInDown"
              },
              {
                  "value": "slideInLeft",
                  "label": "slideInLeft"
              },
              {
                  "value": "slideInRight",
                  "label": "slideInRight"
              },
              {
                  "value": "slideInUp",
                  "label": "slideInUp"
              },
              {
                  "value": "slideInDown",
                  "label": "slideInDown"
              },
              {
                  "value": "zoomIn",
                  "label": "zoomIn"
              },
              {
                  "value": "zoomInLeft",
                  "label": "zoomInLeft"
              },
              {
                  "value": "zoomInRight",
                  "label": "zoomInRight"
              },
              {
                  "value": "zoomInUp",
                  "label": "zoomInUp"
              },
              {
                  "value": "zoomInDown",
                  "label": "zoomInDown"
              },
              {
                  "value": "bounce",
                  "label": "bounce"
              },
              {
                  "value": "bounceIn",
                  "label": "bounceIn"
              },
              {
                  "value": "bounceInLeft",
                  "label": "bounceInLeft"
              },
              {
                  "value": "bounceInRight",
                  "label": "bounceInRight"
              },
              {
                  "value": "bounceInUp",
                  "label": "bounceInUp"
              },
              {
                  "value": "bounceInDown",
                  "label": "bounceInDown"
              },
              {
                  "value": "rotateIn",
                  "label": "rotateIn"
              },
              {
                  "value": "rotateInDownLeft",
                  "label": "rotateInDownLeft"
              },
              {
                  "value": "rotateInDownRight",
                  "label": "rotateInDownRight"
              },
              {
                  "value": "rotateInUpLeft",
                  "label": "rotateInUpLeft"
              },
              {
                  "value": "rotateInUpRight",
                  "label": "rotateInUpRight"
              }
            ]
          },
          {
            "type": "text",
            "id": "animation_delay",
            "label": "t:sections.animation.label_2",
            "default": "0s",
            "info": "t:sections.animation.label_3"
          },
          {
            "type" : "text",
            "id" : "button",
            "default": "collection",
            "label" : "t:sections.packery_block.blocks.button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.packery_block.blocks.link"
          },
          {
              "type": "select",
              "id": "button_align",
              "label": "t:sections.product_block.settings.general.label__13",
              "options": [
              {
                  "value": "left",
                  "label": "t:sections.product_block.settings.general.options__7"
              },
              {
                  "value": "center",
                  "label": "t:sections.product_block.settings.general.options__8"
              },
              {
                  "value": "right",
                  "label": "t:sections.product_block.settings.general.options__9"
              }],
              "default": "left"
          },
          {
              "type": "select",
              "id": "button_align_horizontal",
              "label": "t:sections.product_block.settings.general.label__12",
              "options": [
              {
                  "value": "top",
                  "label": "t:sections.product_block.settings.general.options__13"
              },
              {
                  "value": "center",
                  "label": "t:sections.product_block.settings.general.options__14"
              },
              {
                  "value": "bottom",
                  "label": "t:sections.product_block.settings.general.options__15"
              }],
              "default": "bottom"
          }
        ]
      }
    ],
    "presets": [
      {
          "name": "t:sections.collection_grid.name",
          "blocks": [
            {
                "type": "image"
            },
            {
                "type": "image"
            }
          ]
      }
    ]
}
{% endschema %}