{%- liquid
  assign container = section.settings.container
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
-%}

<style>
  .image-with-content-3.image-content-block-{{section.id}} {
    background: {% if background_gradient != blank %}{{ background_gradient }}{% else %}{{ background_color }}{% endif %};
    padding-top: {{ section.settings.mg_top_desktop | append: 'px' }};
    padding-bottom: {{ section.settings.mg_bottom_desktop | append: 'px' }};
  }
  .image-with-content-3.image-content-block-{{section.id}} .image {
      display: block;
      height: 100%;
      width: auto;
  }
  .image-with-content-3.image-content-block-{{section.id}} .image img {
      display: block;
      width: auto;
      height: 100%;
      object-fit: cover;
  }
  .image-with-content-3.image-content-block-{{section.id}} .row > * {
      display: flex;
      flex-wrap: wrap;
  }
  body.video-show .scoder-video-popup {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate3d(-50%,-50%,0);
  }
  .image-with-content-3.image-content-block-{{section.id}} .img-image img {
    height: 100%;
    object-fit: cover;
    width: auto;
  }
  .image-with-content-3.image-content-block-{{section.id}} .images-box-main{
    position: relative;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .image-with-content-3.image-content-block-{{section.id}} .images-box-main > div{
    width: 50%;
  }
  .image-with-content-3.image-content-block-{{section.id}} .images-box-1{
    padding-right: 7px;
    position: relative;
    z-index: 3;
  }
  .image-with-content-3.image-content-block-{{section.id}} .images-box-2{
    position: unset;
    padding-left: 7px;
  }
  .image-with-content-3.image-content-block-{{section.id}} .circle-image {
    position: absolute !important;
    left: -39px;
    right: unset;
    z-index: 2;
    top: 0;
    background: transparent !important;
    justify-content: flex-end !important;
  }
  .circle-image img {
    animation: spinner 1.9s infinite linear;
  }
  @keyframes spinner{
    0%, 100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
   @media (max-width: 1399px) {
     .image-with-content-3.image-content-block-{{section.id}} .images-box-main{padding-bottom: 0px;}
     .images-box-2{position: unset;}
   } 
  @media (max-width: 1199px) {
    .image-with-content-3.image-content-block-{{section.id}} {
      padding-top: {{ section.settings.mg_top_tablet | append: 'px' }};
      padding-bottom: {{ section.settings.mg_bottom_tablet | append: 'px' }};
    }  
    .image-with-content-3.image-content-block-{{section.id}} .circle-image{
      justify-content: flex-start !important;
      z-index: 9;
      right: 0;
      left: 0;
    }
  }

  @media (max-width: 767px) {
    .image-with-content-3.image-content-block-{{section.id}} {
      padding-top: {{ section.settings.mg_top_mobile | append: 'px' }};
      padding-bottom: {{ section.settings.mg_bottom_mobile | append: 'px' }};
    }
    .image-with-content-3.image-content-block-{{section.id}} .images-box-main > div{
      width: 50%;
    }
  }
</style>

<div class="image-with-content-3 image-content-block-{{section.id}}">
  <div class="{% if container == 'fullwidth'%}container-full{% else %}container{% endif %}">
    {%- for block in section.blocks -%}
      {%- liquid
        assign preview_img = block.settings.image
        assign preview_img_2 = block.settings.image_2
        assign preview_img_3 = block.settings.image_3
      -%}
      <style>
        .image-with-content-3.image-content-block-{{section.id}} .banner-heading {
            font-size: {{ block.settings.heading_title | append: 'px' }};
            padding-bottom: {{ block.settings.heading__space_bottom | append: 'px' }};
            font-weight: {{ block.settings.block_title_font_weight }};
        }
        .image-with-content-3.image-content-block-{{section.id}} .row.align-center > * {
            align-items: center;
        }
        .image-with-content-3.image-content-block-{{section.id}} .row.align-bottom > * {
            align-items: flex-end;
        }
        .image-with-content-3.image-content-block-{{section.id}} .banner-content {
            max-width: {{ block.settings.content_width | append: 'px' }};
            margin: auto;
            width: 100%;
            padding: 0px 0px;
        }
        .image-with-content-3.image-content-block-{{section.id}} .row_reverse > *:first-child {
            order: 2;
        }
        .image-with-content-3.image-content-block-{{section.id}} .row_reverse > *:last-child {
            order: 1;
        }
        .image-with-content-3.image-content-block-{{section.id}} .description {
            padding-bottom: {{ block.settings.description__space_bottom | append: 'px' }};
            font-size: {{ block.settings.desc_title | append: 'px' }};
            color: {{ block.settings.desc_color }};
            font-weight: {{ block.settings.desc_font_weight }};
        }
        .image-content-block-{{section.id}} .button {
            letter-spacing: {{ block.settings.button_letter_spacing | append: 'px' }};
            border: {{ block.settings.button_border | append: 'px' }} solid {{ block.settings.button_border_color }};
            background: {{ block.settings.button_bg_color }};
            color: {{ block.settings.button_color }};
            font-size: {{ block.settings.font_size_button | append: 'px' }};
            padding: {{ block.settings.btn_padding_top_bottom | append: 'px' }} {{ block.settings.btn_padding_left_right | append: 'px' }};
        }
        .image-content-block-{{section.id}} .button svg {
          fill: {{ block.settings.button_color }};
          transition: all 400ms ease;
        }
        .image-content-block-{{section.id}} .button:hover {
            border: {{ block.settings.button_border | append: 'px' }} solid {{ block.settings.button_borderhover_color }};
            background: {{ block.settings.button_bghover_color }};
            color: {{ block.settings.button_hover_color }};
        }
        .image-content-block-{{section.id}} .button:hover svg {
          fill: {{ block.settings.button_hover_color }};
        }
        .image-with-content-3.image-content-block-{{section.id}} .row > * {
          background: {{ block.settings.background_color }};
          position: relative;
        }
        {%- if block.settings.background_color != blank -%}
          .image-with-content-3.image-content-block-{{section.id}} .img-image{
            overflow: hidden;
            border-top-left-radius: {{ section.settings.image_border_radius | append: 'px'  }};
            border-bottom-left-radius:{{ section.settings.image_border_radius | append: 'px'  }}; 
          }
          .image-with-content-3.image-content-block-{{section.id}} .content-im{
            border-top-right-radius: {{ section.settings.image_border_radius | append: 'px'  }};
            border-bottom-right-radius: {{ section.settings.image_border_radius | append: 'px'  }};
          }
        {%- endif -%}
        {%- if block.settings.background_color != blank -%}
          .image-with-content-3.image-content-block-{{section.id}} .row {
            margin-left: -15px;
            margin-right: -15px;
            position: relative;
          }
        {%- endif -%}
        .image-with-content-3.image-content-block-{{section.id}}  .animation-text {
            font-size: {{ block.settings.animation_font_size | append: 'vw' }};
            font-weight: {{ block.settings.animation_text_font_weight }};
            display: block;
            line-height: 0.7;
            color: {{ block.settings.animation_text_color }};
            -webkit-text-stroke: {{ block.settings.animation_text_border_width | append: 'px' }} {{ block.settings.animation_text_border_color }};
            opacity: 0.{{ block.settings.overlay_opacity }};
            position: absolute;
            bottom: {{ block.settings.button_position_bottom }};
            left: calc(50% - 6px);
            transform: translate(-50%);
            white-space: nowrap;
            letter-spacing: {{ block.settings.animation_text_letter_spacing | append: 'px' }};
        }

        @media (max-width:1024px) {
          .image-with-content-3.image-content-block-{{section.id}} .banner-heading {
              font-size: {{ block.settings.heading_title_tb | append: 'px' }};
              padding-bottom: {{ block.settings.heading__space_bottom_tb | append: 'px' }};
          }
          .image-with-content-3.image-content-block-{{section.id}} .description {
              padding-bottom: {{ block.settings.description__space_bottom_tb | append: 'px' }};
              font-size: {{ block.settings.desc_tb | append: 'px' }};
          }
          .image-with-content-3.image-content-block-{{section.id}}  .animation-text {
            font-size: {{ block.settings.animation_font_size_tb | append: 'vw' }};
          }
          .image-with-content-3.image-content-block-{{section.id}} .banner-content {
            max-width: 100%;
            padding-top: 24px;
          }
        }

        @media (max-width:767px) {
          .image-content-block-{{section.id}} .button {
                font-size: {{ block.settings.font_size_button_mobile | append: 'px' }};
                padding: {{ block.settings.btn_padding_top_bottom_mobile | append: 'px' }} {{ block.settings.btn_padding_left_right_mobile | append: 'px' }};
            }
          .image-with-content-3.image-content-block-{{section.id}} .banner-heading {
              font-size: {{ block.settings.heading_title_mb | append: 'px' }};
              padding-bottom: {{ block.settings.heading__space_bottom_mb | append: 'px' }};
          }
          .image-with-content-3.image-content-block-{{section.id}} .banner-content {
            max-width: 100%;
            padding: 0px 0px;
            padding-top: 20px;
          }
          .image-with-content-3.image-content-block-{{section.id}} .row_reverse > *:first-child {
              order: 1;
          }
          {%- if block.settings.background_color != blank -%}
            .image-with-content-3.image-content-block-{{section.id}} .img-image{
              border-top-left-radius: {{ section.settings.image_border_radius | append: 'px'  }};
              border-top-right-radius: {{ section.settings.image_border_radius | append: 'px'  }};
              border-bottom-left-radius: 0px;
            }
            .image-with-content-3.image-content-block-{{section.id}} .content-im{
              border-top-right-radius: 0px;
              border-bottom-left-radius: {{ section.settings.image_border_radius | append: 'px'  }};
              border-bottom-right-radius: {{ section.settings.image_border_radius | append: 'px'  }};
              
            }
          {%- endif -%}
          
          .image-with-content-3.image-content-block-{{section.id}} .row_reverse > *:last-child {
              order: 2;
          }
          .image-with-content-3.image-content-block-{{section.id}} .description {
              padding-bottom: {{ block.settings.description__space_bottom_mb | append: 'px' }};
              font-size: {{ block.settings.desc_mb | append: 'px' }};
          }
          .image-with-content-3.image-content-block-{{section.id}}  .animation-text {
            font-size: {{ block.settings.animation_font_size_mb | append: 'vw' }};
            left: 50%;
          }
        }
      </style>
      <div class="row align-{{ block.settings.align }} {%- if block.settings.row_reverse != blank -%}row_reverse{%- endif -%}">
        <div class="col-xl-{{ block.settings.image_grid }} col-lg-{{ block.settings.image_grid_tablate }} col-md-{{ block.settings.image_grid_mobile }} img-image wow {{ block.settings.animations_type_image }} delay-{{ block.settings.animation_delay_image | replace: ".", "_" }}">
          <style>
            .image-with-content-3.image-content-block-{{section.id}} .img-image.delay-{{ block.settings.animation_delay_image | replace: ".", "_" }} {
                animation-delay: {{ block.settings.animation_delay_image }}
            }
          </style>
          <div class="images-box-main">
            <div class="images-box-1">
                {%- if block.settings.image != blank -%}
                    <img {% render 'lazyload', preview_img: preview_img %} loading="lazy"/>
                    {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                {%- else -%}
                    <div class="not_img" style="--height_not_img: 484px">
                      825 x 484px
                    </div>  
                {%- endif -%}
            </div>
            <div class="images-box-2">
              {%- if block.settings.image_2 != blank -%}
                  <img {% render 'lazyload', preview_img: preview_img_2 %} loading="lazy"/>
                  {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
              {%- else -%}
                  <div class="not_img" style="--height_not_img: 484px">
                    825 x 484px
                  </div>  
              {%- endif -%}
            </div>
          </div>
        </div>
        <div class="col-xl-{{ block.settings.image__grid }} col-lg-{{ block.settings.image__grid_tablate }} col-md-{{ block.settings.image__grid_mobile }} content-im wow {{ block.settings.animations_type_content }} delay-{{ block.settings.animation_delay_content | replace: ".", "_" }}">
          <style>
            .image-with-content-3.image-content-block-{{section.id}} .content-im.delay-{{ block.settings.animation_delay_content | replace: ".", "_" }} {
                animation-delay: {{ block.settings.animation_delay_image }}
            }
          </style>
          <div class="banner-content text-{{ block.settings.text_align }}">
            {%- if block.settings.heading != blank -%}
                <h4 class="banner-heading">
                    {{ block.settings.heading }}
                </h4>
            {%- endif -%}
            {%- if block.settings.description_text != blank -%}
                <div class="description">
                    {{ block.settings.description_text }}
                </div>
            {%- endif -%}
            {%- if block.settings.image_banner_button != blank -%}
              {% if block.settings.button_style == '1'%}
                <div class="image-button">
                  <a {% if block.settings.image_banner_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.image_banner_link }}"{% endif %} class="button">
                    {{ block.settings.image_banner_button }}
                  </a>
                </div>
              {% else %}
                <div class="image-button">
                  <a {% if block.settings.image_banner_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.image_banner_link }}"{% endif %} class="button">
                    {{ block.settings.image_banner_button }} {% render 'arrow-right-2' %}
                  </a>
                </div>
              {% endif %}
            {%- endif -%}
            {%- if block.settings.animation_text != blank -%}
              <span class="animation-text">{{ block.settings.animation_text }}</span>
            {%- endif -%}
          </div>
        </div>
        {%- if block.settings.image_2 != blank -%}
          <div class="circle-image">
            {%- if block.settings.image_2 != blank -%}
                <img {% render 'lazyload', preview_img: preview_img_3 %} loading="lazy"/>
                {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
            {%- else -%}
                <div class="not_img" style="--height_not_img: 100px">
                  100 x 100px
                </div>  
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
    {
        "name": "t:sections.image-with-content.name_3",
        "class": "sections-image-banner-block",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.layout.content"
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.layout.container.option",
                "default": "container",
                "options": [
                    {
                        "value": "container",
                        "label": "t:sections.layout.container.option1"
                    },
                    {
                        "value": "fullwidth",
                        "label": "t:sections.layout.container.option2"
                    }
                ]
            },
            {
                "type" : "color",
                "id" : "background_color",
                "label" : "t:settings_schema.colors.settings.colors_name.background_color",
                "default" : "#ffffff"
            },
            {
                "type" : "color_background",
                "id" : "background_gradient",
                "label" : "t:settings_schema.colors.settings.colors_name.background_color_gradient"
            },
            {
                "type": "range",
                "id": "image_border_radius",
                "label": "t:sections.general.settings.border.border_radius",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 0
            },
            {
                "type": "header",
                "content": "t:sections.layout.margin_top"
            },
            {
                "type": "range",
                "id": "mg_top_desktop",
                "label": "t:sections.layout.mg_desktop.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "mg_top_tablet",
                "label": "t:sections.layout.mg_tablet.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "mg_top_mobile",
                "label": "t:sections.layout.mg_mobile.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            },
            {
                "type": "header",
                "content": "t:sections.layout.margin_bottom"
            },
            {
                "type": "range",
                "id": "mg_bottom_desktop",
                "label": "t:sections.layout.mg_desktop.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "mg_bottom_tablet",
                "label": "t:sections.layout.mg_tablet.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "mg_bottom_mobile",
                "label": "t:sections.layout.mg_mobile.label",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "t:sections.layout.mg_desktop.unit",
                "default": 0
            }
        ],
        "blocks": [
            {
                "type": "smallImg",
                "name": "t:sections.image-banner.blocks.smallImg.name",
                "settings": [
                  {
                      "type": "checkbox",
                      "id": "row_reverse",
                      "label": "t:sections.image-banner.blocks.smallImg.settings.row_reverse"
                  },
                  {
                      "type" : "color",
                      "id" : "background_color",
                      "label" : "t:settings_schema.colors.settings.colors_name.background_color",
                      "default" : "#ffffff"
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.content.label__15"
                  },
                  {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.image-banner.blocks.image.settings.image.label__1"
                  },
                  {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "t:sections.image-banner.blocks.image.settings.image.label__1"
                  },
                  {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "t:sections.image-banner.blocks.image.settings.image.label__1"
                  },
                  {
                      "type": "select",
                      "id": "image_grid",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_desktop",
                      "default": "8",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_12"
                      }]
                  },
                  {
                      "type": "select",
                      "id": "image_grid_tablate",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_tablate",
                      "default": "8",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__12"
                      }]
                  },
                  {
                      "type": "select",
                      "id": "image_grid_mobile",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_mobile",
                      "default": "12",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___12"
                      }]
                  },
                  {
                    "type": "select",
                    "id": "animations_type_image",
                    "label": "t:sections.animation.label_1",
                    "default": "none",
                    "options": [
                      {
                          "value": "none",
                          "label": "t:sections.animation.settings.type.option_0"
                      },
                      {
                          "value": "fadeInUp",
                          "label": "t:sections.animation.settings.type.option_1"
                      },
                      {
                          "value": "fadeInDown",
                          "label": "t:sections.animation.settings.type.option_2"
                      },
                      {
                          "value": "fadeInLeft",
                          "label": "t:sections.animation.settings.type.option_3"
                      },
                      {
                          "value": "fadeInRight",
                          "label": "t:sections.animation.settings.type.option_4"
                      },
                      {
                          "value": "fadeIn",
                          "label": "t:sections.animation.settings.type.option_5"
                      },
                      {
                          "value": "fadeOut",
                          "label": "t:sections.animation.settings.type.option_6"
                      }
                    ]
                  },
                  {
                    "type": "text",
                    "id": "animation_delay_image",
                    "label": "t:sections.animation.label_2",
                    "default": "0s",
                    "info": "t:sections.animation.label_3"
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.content.label__18"
                  },
                  {
                      "type": "select",
                      "id": "image__grid",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_desktop",
                      "default": "4",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option_12"
                      }]
                  },
                  {
                      "type": "select",
                      "id": "image__grid_tablate",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_tablate",
                      "default": "4",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option__12"
                      }]
                  },
                  {
                      "type": "select",
                      "id": "image__grid_mobile",
                      "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.grid_mobile",
                      "default": "12",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___2"
                      },
                      {
                          "value": "3",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___3"
                      },
                      {
                          "value": "4",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___4"
                      },
                      {
                          "value": "5",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___5"
                      },
                      {
                          "value": "6",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___6"
                      },
                      {
                          "value": "7",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___7"
                      },
                      {
                          "value": "8",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___8"
                      },
                      {
                          "value": "9",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___9"
                      },
                      {
                          "value": "10",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___10"
                      },
                      {
                          "value": "11",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___11"
                      },
                      {
                          "value": "12",
                          "label": "t:sections.main-collection-product-grid.settings.image_with_content_grid.option___12"
                      }]
                  },
                  {
                    "type": "select",
                    "id": "align",
                    "label": "t:sections.image-banner.blocks.image.settings.content.label__7",
                    "default": "center",
                    "options": [
                    {
                        "value": "top",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__4"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__5"
                    },
                    {
                        "value": "bottom",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__6"
                    }]
                  },
                  {
                    "type": "select",
                    "id": "text_align",
                    "label": "t:sections.image-banner.blocks.image.settings.content.label__7",
                    "default": "center",
                    "options": [
                    {
                        "value": "left",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__2"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.image-banner.blocks.image.settings.content.options__3"
                    }]
                  },
                  {
                      "type": "range",
                      "id": "content_width",
                      "label": "t:sections.image-banner.blocks.image.settings.content.label__8",
                      "min": 0,
                      "max": 1200,
                      "step": 20,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 560
                  },
                  {
                    "type": "select",
                    "id": "animations_type_content",
                    "label": "t:sections.animation.label_1",
                    "default": "none",
                    "options": [
                      {
                          "value": "none",
                          "label": "t:sections.animation.settings.type.option_0"
                      },
                      {
                          "value": "fadeInUp",
                          "label": "t:sections.animation.settings.type.option_1"
                      },
                      {
                          "value": "fadeInDown",
                          "label": "t:sections.animation.settings.type.option_2"
                      },
                      {
                          "value": "fadeInLeft",
                          "label": "t:sections.animation.settings.type.option_3"
                      },
                      {
                          "value": "fadeInRight",
                          "label": "t:sections.animation.settings.type.option_4"
                      },
                      {
                          "value": "fadeIn",
                          "label": "t:sections.animation.settings.type.option_5"
                      },
                      {
                          "value": "fadeOut",
                          "label": "t:sections.animation.settings.type.option_6"
                      }
                    ]
                  },
                  {
                    "type": "text",
                    "id": "animation_delay_content",
                    "label": "t:sections.animation.label_2",
                    "default": "0s",
                    "info": "t:sections.animation.label_3"
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.header__2.title"
                  },
                  {
                      "type": "text",
                      "id": "heading",
                      "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
                      "default": "Who We Are?"
                  },
                  {
                      "type": "range",
                      "id": "heading_title",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 40
                  },
                  {
                      "type": "range",
                      "id": "heading_title_tb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_tb",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 32
                  },
                  {
                      "type": "range",
                      "id": "heading_title_mb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 28
                  },
                  {
                      "type": "range",
                      "id": "heading__space_bottom",
                      "label": "t:sections.layout.mg_desktop.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 10
                  },
                  {
                      "type": "range",
                      "id": "heading__space_bottom_tb",
                      "label": "t:sections.layout.mg_tablet.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 10
                  },
                  {
                      "type": "range",
                      "id": "heading__space_bottom_mb",
                      "label": "t:sections.layout.mg_mobile.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 10
                  },
                  {
                    "type": "select",
                    "id": "block_title_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.sub_title",
                    "default": "600",
                    "options": [
                      {
                        "value": "300",
                        "label": "t:settings_schema.typography.settings.font_weight.options__7"
                      },
                      {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                      },
                      {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                      },
                      {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                      },
                      {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                      },
                      {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                      },
                      {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                      }
                    ]
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.header__2.description"
                  },
                  {
                      "type": "textarea",
                      "id": "description_text",
                      "label": "t:sections.image-banner.blocks.image.settings.content.label__2",
                      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                  },
                  {
                    "id": "desc_color",
                    "type": "color",
                    "default": "#222222",
                    "label": "t:settings_schema.colors.settings.button_colors.text_color"
                  },
                  {
                      "type": "range",
                      "id": "desc_title",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 16
                  },
                  {
                      "type": "range",
                      "id": "desc_tb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_tb",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 16
                  },
                  {
                      "type": "range",
                      "id": "desc_mb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 14
                  },
                  {
                    "type": "select",
                    "id": "desc_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.sub_title",
                    "default": "400",
                    "options": [
                      {
                        "value": "300",
                        "label": "t:settings_schema.typography.settings.font_weight.options__7"
                      },
                      {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                      },
                      {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                      },
                      {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                      },
                      {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                      },
                      {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                      },
                      {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                      }
                    ]
                  },
                  {
                      "type": "range",
                      "id": "description__space_bottom",
                      "label": "t:sections.layout.mg_desktop.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 40
                  },
                  {
                      "type": "range",
                      "id": "description__space_bottom_tb",
                      "label": "t:sections.layout.mg_tablet.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 30
                  },
                  {
                      "type": "range",
                      "id": "description__space_bottom_mb",
                      "label": "t:sections.layout.mg_mobile.label_2",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 25
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.header__2.button"
                  },
                  {
                      "type": "select",
                      "id": "button_style",
                      "label": "t:sections.slide-show.settings.arrows.button_style",
                      "default": "1",
                      "options": [
                      {
                          "value": "1",
                          "label": "t:sections.slide-show.settings.style_slideshow.option1"
                      },
                      {
                          "value": "2",
                          "label": "t:sections.slide-show.settings.style_slideshow.option2"
                      }]
                  },
                  {
                      "type": "text",
                      "id": "image_banner_button",
                      "label": "t:sections.image-banner.blocks.image.settings.header__2.button_text",
                      "default": "Shop Now"
                  },
                  {
                      "type": "url",
                      "id": "image_banner_link",
                      "label": "t:sections.image-banner.blocks.image.settings.header__2.button_link"
                  },
                  {
                      "type": "range",
                      "id": "font_size_button",
                      "label": "t:settings_schema.typography.settings.typography.sub_title_font_size",
                      "min": 0,
                      "max": 50,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 16
                  },
                  {
                      "type": "range",
                      "id": "font_size_button_mobile",
                      "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_mobile",
                      "min": 0,
                      "max": 50,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 16
                  },
                  {
                    "type": "range",
                    "id": "btn_padding_left_right",
                    "label": "t:settings_schema.typography.settings.font_size.button_left_right_padding",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 20
                  },
                  {
                    "type": "range",
                    "id": "btn_padding_left_right_mobile",
                    "label": "t:settings_schema.typography.settings.font_size.button_left_right_padding_mobile",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 20
                  },
                  {
                      "type": "range",
                      "id": "btn_padding_top_bottom",
                      "label": "t:settings_schema.typography.settings.font_size.button_top_bottom_padding",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "default": 8
                  },
                  {
                      "type": "range",
                      "id": "btn_padding_top_bottom_mobile",
                      "label": "t:settings_schema.typography.settings.font_size.button_top_bottom_padding_mobile",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "default": 8
                  },
                  {
                      "type": "range",
                      "id": "button_letter_spacing",
                      "label": "t:settings_schema.typography.settings.typography.label__2",
                      "min": 0,
                      "max": 10,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 0
                  },
                  {
                    "type": "range",
                    "id": "button_border",
                    "min": 0,
                    "max": 5,
                    "step": 1,
                    "unit": "px",
                    "label": "t:settings_schema.typography.settings.typography.button_border",
                    "default": 1
                  },
                  {
                    "id": "button_color",
                    "type": "color",
                    "default": "#fff",
                    "label": "t:settings_schema.colors.settings.button_colors.text_color"
                  },
                  {
                    "id": "button_hover_color",
                    "type": "color",
                    "default": "#000",
                    "label": "t:settings_schema.colors.settings.button_colors.texthover_color"
                  },
                  {
                    "id": "button_bg_color",
                    "type": "color",
                    "default": "#000",
                    "label": "t:settings_schema.colors.settings.button_colors.background_color"
                  },
                  {
                    "id": "button_bghover_color",
                    "type": "color",
                    "default": "#fff",
                    "label": "t:settings_schema.colors.settings.button_colors.backgroundhover_color"
                  },
                  {
                    "id": "button_border_color",
                    "type": "color",
                    "default": "#000000",
                    "label": "t:settings_schema.colors.settings.button_colors.border_color"
                  },
                  {
                    "id": "button_borderhover_color",
                    "type": "color",
                    "default": "#000",
                    "label": "t:settings_schema.colors.settings.button_colors.borderhover_color"
                  },
                  {
                      "type": "header",
                      "content": "t:sections.image-banner.blocks.image.settings.content.label__9"
                  },
                  {
                      "type": "text",
                      "id": "animation_text",
                      "label": "t:sections.image-banner.blocks.image.settings.content.label__1"
                  },
                  {
                      "type": "range",
                      "id": "animation_font_size",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size",
                      "min": 0,
                      "max": 200,
                      "step": 2,
                      "unit": "vw",
                      "default": 40
                  },
                  {
                      "type": "range",
                      "id": "animation_font_size_tb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_tb",
                      "min": 0,
                      "max": 200,
                      "step": 2,
                      "unit": "vw",
                      "default": 30
                  },
                  {
                      "type": "range",
                      "id": "animation_font_size_mb",
                      "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
                      "min": 0,
                      "max": 200,
                      "step": 2,
                      "unit": "vw",
                      "default": 22
                  },
                  {
                    "id": "animation_text_color",
                    "type": "color",
                    "default": "#ffffff",
                    "label": "t:settings_schema.colors.settings.colors_text.label__1"
                  },
                  {
                    "type": "select",
                    "id": "animation_text_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.sub_title",
                    "default": "400",
                    "options": [
                      {
                        "value": "300",
                        "label": "t:settings_schema.typography.settings.font_weight.options__7"
                      },
                      {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                      },
                      {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                      },
                      {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                      },
                      {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                      },
                      {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                      },
                      {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                      }
                    ]
                  },
                  {
                      "type": "range",
                      "id": "animation_text_border_width",
                      "label": "t:sections.general.settings.border.border_width",
                      "min": 0,
                      "max": 10,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 0
                  },
                  {
                      "type" : "color",
                      "id" : "animation_text_border_color",
                      "label" : "t:sections.general.settings.border.border_color"
                  },
                  {
                      "type": "range",
                      "id": "animation_text_letter_spacing",
                      "label": "t:settings_schema.typography.settings.typography.label__2",
                      "min": 0,
                      "max": 10,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 0
                  },
                  {
                    "type": "text",
                    "id": "button_position_bottom",
                    "label": "t:sections.slide-show.settings.arrows.position_bottom",
                    "default": "0"
                  },
                  {
                      "type": "range",
                      "id": "overlay_opacity",
                      "label": "t:sections.image-banner.blocks.image.settings.content.opacity",
                      "min": 0,
                      "max": 100,
                      "step": 1,
                      "unit": "t:sections.layout.mg_desktop.unit",
                      "default": 50
                  }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.image-with-content.name_3",
                "blocks": [
                    {
                        "type": "smallImg" 
                    }
                ]
            }
        ]
    }
{% endschema %}