{%- liquid
    assign as_grid_gap = section.settings.grid_gap
    assign grid_gap = section.settings.grid_gap | times: 0.5 | append: 'px'

    assign container = section.settings.container
    assign collection = section.settings.product_block_collection
    assign limit = section.settings.product_block_limit
    assign layout = section.settings.product_block_layout
    assign infinite_scroll = section.settings.product_block_infinite_scroll

    assign block_title = section.settings.product_block_title
    assign block_title_align = section.settings.title_align
    assign image_ratio = settings.product_block_image_ratio
    assign swipe_on_mobile = section.settings.product_block_swipe_on_mobile

    assign products_to_display = 0
    if collections[collection].handle != ''
        if collections[collection].all_products_count > limit
            assign products_to_display = limit
        else
            assign products_to_display = collections[collection].all_products_count
        endif 
    else
        assign products_to_display = limit
    endif

    assign swipe = false
    if swipe_on_mobile == true and layout == 'grid' and products_to_display > 2
        assign swipe = true
    endif

    assign block_banners = section.blocks | where: 'type', 'banner'
    assign block_banner = block_banners[0]
    assign show_banner = false
    if block_banner != blank
        assign show_banner = true
    endif

    assign countdown = section.settings.countdown
    
    assign product_bg = section.settings.product_bg
    assign product_bg_gradient = section.settings.product_bg_gradient
    assign product_bg_image = section.settings.product_bg_image

    assign color_title = section.settings.color_title
    assign border_color_title = section.settings.border_color_title
    assign pd_top_title = section.settings.pd_top_title
    assign fontsize_title = section.settings.fontsize_title
    assign fontsize_title_mb = section.settings.fontsize_title_mb
    assign product_button_width = section.settings.product_button_width
    assign pd_top_product_button = section.settings.pd_top_product_button
    assign pd_bottom_product_button = section.settings.pd_bottom_product_button

    assign mg_bottom_title = section.settings.mg_bottom_title
    assign mg_bottom_title_mb = section.settings.mg_bottom_title_mb
    assign mg_bottom_view = section.settings.mg_bottom_view
    assign mg_bottom_view_mb = section.settings.mg_bottom_view_mb

    assign color_view_all = section.settings.color_view_all
    assign color_view_all_icon = section.settings.color_view_all_icon
    assign font_weight_view_all = section.settings.font_weight_view_all

    assign color_button = section.settings.color_button
    assign bg_color_button = section.settings.bg_color_button
    assign border_color_button = section.settings.border_color_button
    assign bg_color_gradient_button = section.settings.bg_color_gradient_button

    assign color_button_hover = section.settings.color_button_hover
    assign bg_color_button_hover = section.settings.bg_color_button_hover
    assign border_color_button_hover = section.settings.border_color_button_hover
    assign bg_color_gradient_button_hover = section.settings.bg_color_gradient_button_hover

    assign mg_top_desktop = section.settings.mg_top_desktop
    assign mg_top_tablet = section.settings.mg_top_tablet
    assign mg_top_mobile = section.settings.mg_top_mobile

    assign mg_bottom_desktop = section.settings.mg_bottom_desktop
    assign mg_bottom_tablet = section.settings.mg_bottom_tablet
    assign mg_bottom_mobile = section.settings.mg_bottom_mobile

    assign spacing_top_dots = section.settings.spacing_top_dots

    assign padding_full_width = section.settings.padding_full_width

    assign mg_bottom_button = section.settings.mg_bottom_button
    assign enable_border_top = section.settings.enable_border_top
    assign enable_border_bottom = section.settings.enable_border_bottom
    assign color_border_bottom = section.settings.color_border_bottom
    assign border_height = section.settings.border_height

    assign button_text_font_size = section.settings.button_text_font_size
    assign button_text_font_weight = section.settings.button_text_font_weight
    assign button_text_text_transform = section.settings.button_text_text_transform

    assign collection_color = section.settings.collection_color
    assign collection_color_hover = section.settings.collection_color_hover
    assign collection_bg_color = section.settings.collection_bg_color
    assign collection_bg_color_gradient = section.settings.collection_bg_color_gradient

    assign position_vertical_arrow = section.settings.position_vertical_arrow

    if show_banner
        assign fontsize_text = block_banner.settings.fontsize_text
        assign fontsize_text_mb = block_banner.settings.fontsize_text_mb
        assign color_text = block_banner.settings.color_text
        assign mg_bottom_text = block_banner.settings.mg_bottom_text

        assign fontsize_sub_text = block_banner.settings.fontsize_sub_text
        assign fontsize_sub_text_mb = block_banner.settings.fontsize_sub_text_mb
        assign color_sub_text = block_banner.settings.color_sub_text
        assign mg_bottom_sub_text = block_banner.settings.mg_bottom_sub_text

        assign fontsize_description = block_banner.settings.fontsize_description
        assign color_description = block_banner.settings.color_description
        
        assign banner_border_radius = block_banner.settings.banner_border_radius

        assign button_bg_color = block_banner.settings.button_bg_color
        assign button_color = block_banner.settings.button_color
        assign button_border_color = block_banner.settings.button_border_color
        assign button_bg_color_gradient = block_banner.settings.button_bg_color_gradient

        assign button_bg_color_hover = block_banner.settings.button_bg_color_hover
        assign button_color_hover = block_banner.settings.button_color_hover
        assign button_border_color_hover = block_banner.settings.button_border_color_hover
        assign button_bg_color_gradient_hover = block_banner.settings.button_bg_color_gradient_hover
    endif

    if section.settings.enable_layout_special
        assign bg_card = section.settings.bg_card
        assign padding_card = section.settings.padding_card
        assign border_radius_card = section.settings.border_radius_card
        assign border_width_card = section.settings.border_width_card
        assign border_color_card = section.settings.border_color_card
    endif

    if section.settings.countdown
        assign color_countdown = section.settings.color_countdown
        assign font_size_countdown_text = section.settings.font_size_countdown_text
        assign countdown_margin_left = section.settings.countdown_margin_left
    endif

    assign enable_pd_bottom = section.settings.enable_product_card_pd_bottom
    assign pd_bottom = section.settings.product_card_pd_bottom

    assign enable_minus_mg_top = section.settings.enable_minus_mg_top
    assign minus_spacing_top = section.settings.minus_spacing_top | append: 'px'
    assign container = section.settings.container
-%}
{% render 'product-block-style-4' %}

  <div class="trending-product product-block-4 trending-block-{{section.id}}">
    <div class="{% if container == 'fullwidth'%}container-full{% else %}container{% endif %}">
      <div class="product-block-4-inner">
        <div class="section-header">
          <div class="row align-item-center">
            <div class="{%- if countdown != blank -%}col-xl-5 col-lg-12 col-md-12{% else %}col-xl-12 col-lg-12 col-md-12{% endif %}">
              <div class="section-title">
                {%- if section.settings.sub_title != blank -%}
                    <p class="sub-title text-{{ section.settings.sub_title_align }} text-tb-{{ section.settings.product_block_align_tablet }} text-mb-{{ section.settings.sub_title_align_mobile }} wow {{ section.settings.animations_type_subtitle }} delay-{{ section.settings.animation_delay_subtitle | replace: ".", "_" }}">
                        <style>
                          .trending-product.trending-block-{{section.id}} .section-header .banner-sub-title.delay-{{ section.settings.animation_delay_subtitle | replace: ".", "_" }} {
                              animation-delay: {{ section.settings.animation_delay_subtitle }}
                          }
                        </style>
                        <span>{{ section.settings.sub_title }}</span>
                    </p>
                {%- endif -%}
                {%- if section.settings.product_block_title != blank -%}
                  <h3 class="title text-{{ section.settings.product_block_align }} text-tb-{{ section.settings.product_block_align_tablet }} text-mb-{{ section.settings.product_block_align_mobile }} wow {{ section.settings.animations_type_title }} delay-{{ section.settings.animation_delay_title | replace: ".", "_" }}">
                      <style>
                        .trending-product.trending-block-{{section.id}} .section-header .title.delay-{{ section.settings.animation_delay_title | replace: ".", "_" }} {
                            animation-delay: {{ section.settings.animation_delay_title }}
                        }
                      </style>
                      <span class="text">{{ section.settings.product_block_title | escape }}</span>
                  </h3>
                {%- endif -%}
              </div>
            </div>
            {%- if countdown != blank -%}
              {% assign today_date = 'now' | date: '%s' %}
              {% assign pre_date = countdown | date: '%s' %}
              {% if today_date < pre_date %}
                <div class="col-xl-7 col-lg-12 col-md-12">
                  <div class="product--countdown wow {{ section.settings.animations_type_countdown }} delay-{{ section.settings.animation_delay_countdown | replace: ".", "_" }}">
                      <style>
                        .trending-product.trending-block-{{section.id}} .product--countdown.section-desc.delay-{{ section.settings.animation_delay_countdown | replace: ".", "_" }} {
                            animation-delay: {{ section.settings.animation_delay_countdown }}
                        }
                      </style>
                      <div class="product-countdown-title">
                        <span>{{ section.settings.countdown_title }}</span>
                      </div>
                      <div class="product-countdown-block countdown-{{ section.id }}" 
                      data-countdown 
                      data-countdown-value="{{ countdown }}">
                      </div>
                  </div>
                </div>
              {%- endif -%}
            {% endif %}
          </div>
        </div>
        <div class="scoder-block-content content-align-{{ section.settings.product_content_text_align }} wow {{ section.settings.animations_type_product }} delay-{{ section.settings.animation_delay_product | replace: ".", "_" }}" data-image-ratio="{{ image_ratio }}">
          <style>
              .trending-product.trending-block-{{section.id}} .scoder-block-content.delay-{{ section.settings.animation_delay_product | replace: ".", "_" }} {
                  animation-delay: {{ section.settings.animation_delay_product }}
              }
          </style>
          <div class="products-grid productGrid column-{{ section.settings.layout }} column-tb-{{ section.settings.layout_tablet }} column-mb-{{ section.settings.layout_mobile }} {% if swipe %} slider slider--tablet grid grid--peek{% endif %}" data-products-to-show="{{ limit }}">
            {%- for tag in current_tags -%}
                  {%- if tag contains 'limit=' -%}
                      {%- assign limit = tag | remove: 'limit=' -%}
                  {%- elsif tag contains 'sectionId=' -%}
                      {%- assign sectionId = tag | remove: 'sectionId=' -%}
                  {%- elsif tag contains 'imageRatio=' -%}
                      {%- assign image_ratio = tag | remove: 'imageRatio=' -%}
                  {%- elsif tag contains 'swipe=' -%}
                      {%- assign swipe = tag | remove: 'swipe=' -%}
                  {%- elsif tag contains 'hasCountdown=' -%}
                      {%- assign hasCountdown = tag | remove: 'hasCountdown=' -%}
                  {%- endif -%}
              {%- endfor -%}
              {%- if collection.products[0] != nil -%}
                  {%- for product in collection.products limit: limit -%}
                      <div class="product">
                          {% render 'product-grid-layout',
                              product_card_product: product,
                              portrait_aspect_ratio: '125',
                              serial: forloop.index,
                              sectionId: sectionId,
                              media_size: image_ratio,
                              hasCountdown: hasCountdown,
                              loading: true
                          %}
                      </div>
                  {%- endfor -%}
                  {%- else -%}
                  {%- for product in (1..limit) -%}
                      <div class="product{% if swipe %} slider__slide grid__item{% endif %}">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {% render 'product-card-placeholder',
                              index: current
                          %}
                      </div>
                  {%- endfor -%}
              {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "t:sections.product_block.name_4",
    "class": "sections-product-block",
    "settings": [
      {
          "type": "header",
          "content": "t:sections.layout.content"
      },
      {
          "type" : "color",
          "id" : "background_color",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color"
      },
      {
          "type" : "color_background",
          "id" : "background_gradient",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color_gradient"
      },
      {
          "type" : "image_picker",
          "id" : "background_image",
          "label" : "t:settings_schema.colors.settings.colors_name.background_image"
      },
      {
          "type": "header",
          "content": "t:sections.layout.content_2"
      },
      {
          "type" : "color",
          "id" : "container_background_color",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color"
      },
      {
          "type" : "color_background",
          "id" : "container_background_gradient",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color_gradient"
      },
      {
          "type": "select",
          "id": "container",
          "label": "t:sections.layout.container.option",
          "default": "container",
          "options": [
              {
                  "value": "container",
                  "label": "t:sections.layout.container.option1"
              },
              {
                  "value": "fullwidth",
                  "label": "t:sections.layout.container.option2"
              }
          ]
      },
      {
          "type": "range",
          "id": "padding_full_width",
          "label": "t:sections.layout.container.padding_full_width",
          "min": 0,
          "max": 70,
          "step": 5,
          "unit": "t:sections.layout.fontsize.fontsize_title.unit",
          "default": 0,
          "info": "t:sections.layout.container.info_full_width"
      },
      {
          "type": "range",
          "id": "container_mg_top_desktop",
          "label": "t:sections.layout.mg_desktop.label_3",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "container_mg_top_tablet",
          "label": "t:sections.layout.mg_tablet.label_3",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "container_mg_top_mobile",
          "label": "t:sections.layout.mg_mobile.label_3",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "container_mg_left_right_desktop",
          "label": "t:sections.layout.mg_desktop.label_4",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "container_mg_left_right_tablet",
          "label": "t:sections.layout.mg_tablet.label_4",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "container_mg_left_right_mobile",
          "label": "t:sections.layout.mg_mobile.label_4",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 15
      },
      {
          "type": "header",
          "content": "t:sections.layout.margin_top"
      },
      {
          "type": "range",
          "id": "mg_top_desktop",
          "label": "t:sections.layout.mg_desktop.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_top_tablet",
          "label": "t:sections.layout.mg_tablet.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 40
      },
      {
          "type": "range",
          "id": "mg_top_mobile",
          "label": "t:sections.layout.mg_mobile.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
          "type": "header",
          "content": "t:sections.layout.margin_bottom"
      },
      {
          "type": "range",
          "id": "mg_bottom_desktop",
          "label": "t:sections.layout.mg_desktop.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_bottom_tablet",
          "label": "t:sections.layout.mg_tablet.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 40
      },
      {
          "type": "range",
          "id": "mg_bottom_mobile",
          "label": "t:sections.layout.mg_mobile.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
          "type": "header",
          "content": "t:sections.image-banner.blocks.image.settings.header__2.sub_title"
      },
      {
          "type": "text",
          "id": "sub_title",
          "label": "t:sections.image-banner.blocks.image.settings.content.sub_title"
      },
      {
          "type": "range",
          "id": "font_size_sub_title",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 22
      },
      {
          "type": "range",
          "id": "font_size_sub_title_tb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_tb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 16
      },
      {
          "type": "range",
          "id": "font_size_sub_title_mb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
          "type": "select",
          "id": "sub_heading_font_style",
          "label": "t:settings_schema.typography.settings.font_type.label",
          "options": [
          {
              "value": "font_1",
              "label": "t:settings_schema.typography.settings.font_family__1.content"
          },
          {
              "value": "font_2",
              "label": "t:settings_schema.typography.settings.font_family__2.content"
          }],
          "default": "font_1"
      },
      {
        "type": "select",
        "id": "sub_title_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.sub_title",
        "default": "400",
        "options": [
          {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_title_transform",
        "label": "t:settings_schema.typography.settings.text_transform.label",
        "default": "uppercase",
        "options": [
          {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
          },
          {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
          },
          {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
          },
          {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
          }
        ]
      },
      {
          "type": "range",
          "id": "font_size_sub_letter_spacing",
          "label": "t:settings_schema.typography.settings.typography.label__2",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
        "id": "sub_title_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.colors_text.label__1"
      },
      {
          "type": "range",
          "id": "sub_title__space_top",
          "label": "t:sections.layout.mg_desktop.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 10
      },
      {
          "type": "range",
          "id": "sub_title__space_top_tb",
          "label": "t:sections.layout.mg_tablet.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 10
      },
      {
          "type": "range",
          "id": "sub_title__space_top_mb",
          "label": "t:sections.layout.mg_mobile.label_2",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 7
      },
      {
          "type": "select",
          "id": "sub_title_align",
          "label": "t:sections.product_block.settings.general.label__7",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "left"
      },
      {
          "type": "select",
          "id": "sub_title_align_mobile",
          "label": "t:sections.product_block.settings.general.label__11",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "center"
      },
      {
          "type": "select",
          "id": "animations_type_subtitle",
          "label": "t:sections.animation.label_1",
          "default": "none",
          "options": [
            {
                "value": "none",
                "label": "t:sections.animation.settings.type.option_0"
            },
            {
                "value": "fadeIn",
                "label": "fadeIn"
            },
            {
                "value": "fadeInLeft",
                "label": "fadeInLeft"
            },
            {
                "value": "fadeInRight",
                "label": "fadeInRight"
            },
            {
                "value": "fadeInUp",
                "label": "fadeInUp"
            },
            {
                "value": "fadeInDown",
                "label": "fadeInDown"
            },
            {
                "value": "slideInLeft",
                "label": "slideInLeft"
            },
            {
                "value": "slideInRight",
                "label": "slideInRight"
            },
            {
                "value": "slideInUp",
                "label": "slideInUp"
            },
            {
                "value": "slideInDown",
                "label": "slideInDown"
            },
            {
                "value": "zoomIn",
                "label": "zoomIn"
            },
            {
                "value": "zoomInLeft",
                "label": "zoomInLeft"
            },
            {
                "value": "zoomInRight",
                "label": "zoomInRight"
            },
            {
                "value": "zoomInUp",
                "label": "zoomInUp"
            },
            {
                "value": "zoomInDown",
                "label": "zoomInDown"
            },
            {
                "value": "bounce",
                "label": "bounce"
            },
            {
                "value": "bounceIn",
                "label": "bounceIn"
            },
            {
                "value": "bounceInLeft",
                "label": "bounceInLeft"
            },
            {
                "value": "bounceInRight",
                "label": "bounceInRight"
            },
            {
                "value": "bounceInUp",
                "label": "bounceInUp"
            },
            {
                "value": "bounceInDown",
                "label": "bounceInDown"
            },
            {
                "value": "rotateIn",
                "label": "rotateIn"
            },
            {
                "value": "rotateInDownLeft",
                "label": "rotateInDownLeft"
            },
            {
                "value": "rotateInDownRight",
                "label": "rotateInDownRight"
            },
            {
                "value": "rotateInUpLeft",
                "label": "rotateInUpLeft"
            },
            {
                "value": "rotateInUpRight",
                "label": "rotateInUpRight"
            }
          ]
      },
      {
        "type": "text",
        "id": "animation_delay_subtitle",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
          "type": "header",
          "content": "t:sections.layout.section_heading"
      },
      {
          "type": "textarea",
          "id": "product_block_title",
          "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
          "default": "Deals of the Day"
      },
      {
          "type": "range",
          "id": "product_font_size_title",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "type": "range",
          "id": "product_font_size_title_tb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_tb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "type": "range",
          "id": "product_font_size_title_mb",
          "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "type": "select",
          "id": "product_sub_heading_font",
          "label": "t:settings_schema.typography.settings.font_type.label",
          "options": [
          {
              "value": "font_1",
              "label": "t:settings_schema.typography.settings.font_family__1.content"
          },
          {
              "value": "font_2",
              "label": "t:settings_schema.typography.settings.font_family__2.content"
          }],
          "default": "font_1"
      },
      {
        "type": "select",
        "id": "product_title_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.sub_title",
        "default": "400",
        "options": [
          {
            "value": "300",
            "label": "t:settings_schema.typography.settings.font_weight.options__7"
          }, 
          {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }
        ]
      },
      {
          "type": "select",
          "id": "product_block_align",
          "label": "t:sections.product_block.settings.general.label__7",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "left"
      },
      {
          "type": "select",
          "id": "product_block_align_tablet",
          "label": "t:sections.product_block.settings.general.label__15",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "center"
      },
      {
          "type": "select",
          "id": "product_block_align_mobile",
          "label": "t:sections.product_block.settings.general.label__11",
          "options": [
          {
              "value": "left",
              "label": "t:sections.product_block.settings.general.options__7"
          },
          {
              "value": "center",
              "label": "t:sections.product_block.settings.general.options__8"
          },
          {
              "value": "right",
              "label": "t:sections.product_block.settings.general.options__9"
          }],
          "default": "center"
      },
      {
          "type": "range",
          "id": "mg_bottom_title",
          "label": "t:sections.layout.mg_bottom_title.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 50
      },
      {
          "type": "range",
          "id": "mg_bottom_title_mb",
          "label": "t:sections.layout.mg_bottom_title.label_mb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 25
      },
      {
        "id": "title_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.colors_text.label__1"
      },
      {
          "type": "range",
          "id": "title_letter_spacing",
          "label": "t:settings_schema.typography.settings.typography.label__2",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "type": "select",
          "id": "animations_type_title",
          "label": "t:sections.animation.label_1",
          "default": "none",
          "options": [
            {
                "value": "none",
                "label": "t:sections.animation.settings.type.option_0"
            },
            {
                "value": "fadeIn",
                "label": "fadeIn"
            },
            {
                "value": "fadeInLeft",
                "label": "fadeInLeft"
            },
            {
                "value": "fadeInRight",
                "label": "fadeInRight"
            },
            {
                "value": "fadeInUp",
                "label": "fadeInUp"
            },
            {
                "value": "fadeInDown",
                "label": "fadeInDown"
            },
            {
                "value": "slideInLeft",
                "label": "slideInLeft"
            },
            {
                "value": "slideInRight",
                "label": "slideInRight"
            },
            {
                "value": "slideInUp",
                "label": "slideInUp"
            },
            {
                "value": "slideInDown",
                "label": "slideInDown"
            },
            {
                "value": "zoomIn",
                "label": "zoomIn"
            },
            {
                "value": "zoomInLeft",
                "label": "zoomInLeft"
            },
            {
                "value": "zoomInRight",
                "label": "zoomInRight"
            },
            {
                "value": "zoomInUp",
                "label": "zoomInUp"
            },
            {
                "value": "zoomInDown",
                "label": "zoomInDown"
            },
            {
                "value": "bounce",
                "label": "bounce"
            },
            {
                "value": "bounceIn",
                "label": "bounceIn"
            },
            {
                "value": "bounceInLeft",
                "label": "bounceInLeft"
            },
            {
                "value": "bounceInRight",
                "label": "bounceInRight"
            },
            {
                "value": "bounceInUp",
                "label": "bounceInUp"
            },
            {
                "value": "bounceInDown",
                "label": "bounceInDown"
            },
            {
                "value": "rotateIn",
                "label": "rotateIn"
            },
            {
                "value": "rotateInDownLeft",
                "label": "rotateInDownLeft"
            },
            {
                "value": "rotateInDownRight",
                "label": "rotateInDownRight"
            },
            {
                "value": "rotateInUpLeft",
                "label": "rotateInUpLeft"
            },
            {
                "value": "rotateInUpRight",
                "label": "rotateInUpRight"
            }
          ]
      },
      {
        "type": "text",
        "id": "animation_delay_title",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
        "type": "header",
          "content": "t:sections.product_block.settings.countdown.content"
      },
      {
          "type": "text",
          "id": "countdown_title",
          "default": "Hurry up! Offer ends in",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
      },
      {
        "type": "select",
        "id": "countdown_title_text_transform",
        "label": "t:settings_schema.typography.settings.text_transform.label",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
          },
          {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
          },
          {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
          },
          {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
          }
        ]
      },
      {
        "type": "select",
        "id": "number_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.sub_title",
        "default": "500",
        "options": [
          {
            "value": "300",
            "label": "t:settings_schema.typography.settings.font_weight.options__7"
          }, 
          {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
          },
          {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
          },
          {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
          },
          {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
          },
          {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
          },
          {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
          }
        ]
      },
      {
          "id": "countdown_title_color",
          "type": "color",
          "label": "t:settings_schema.colors.settings.colors_text.label__1"
      },
      {
          "type": "range",
          "id": "countdown_title_title",
          "label": "t:settings_schema.typography.settings.typography.title_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 22
      },
      {
          "type": "range",
          "id": "countdown_title_title_line_height",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.label__1",
          "default": 25
      },
      {
          "type": "range",
          "id": "countdown_title_title_tb",
          "label": "t:settings_schema.typography.settings.typography.title_font_size_tb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 18
      },
      {
          "type": "range",
          "id": "countdown_title_title_line_height_tb",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.label__1",
          "default": 22
      },
      {
          "type": "range",
          "id": "countdown_title_title_mb",
          "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 16
      },
      {
          "type": "range",
          "id": "countdown_title_title_line_height_mb",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.label__1",
          "default": 20
      },
      {
          "type": "range",
          "id": "countdown_title_letter_spacing",
          "label": "t:settings_schema.typography.settings.typography.label__2",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
          "type" : "textarea",
          "id" : "countdown",
          "label" : "t:sections.product_block.settings.countdown.content",
          "default": "2024/12/31 0:0:00",
          "info" : "Please use this exact format: yyyy/mm/dd hour/minute/second. Example: 2023/12/4 0:0:00."
      },
      {
          "type": "range",
          "id": "font_size_countdown_text",
          "label": "t:sections.image-banner.blocks.image.settings.style.font_size_countdown_text",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 30
      },
      {
          "type" : "color",
          "id" : "color_countdown",
          "label" : "t:sections.image-banner.blocks.image.settings.style.color_countdown"
      },
      {
          "type": "range",
          "id": "font_size_countdown_info",
          "label": "t:sections.image-banner.blocks.image.settings.style.font_size_countdown_info",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 14
      },
      {
          "type" : "color",
          "id" : "font_size_countdown_info_color",
          "label" : "t:sections.image-banner.blocks.image.settings.style.font_size_countdown_info_color"
      },
      {
          "type" : "color",
          "id" : "countdown_color",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color"
      },
      {
          "type": "range",
          "id": "border_width",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.button_border",
          "default": 0
      },
      {
        "id": "border_color",
        "type": "color",
        "label": "t:sections.layout.border_color"
      },
      {
        "type": "range",
        "id": "border_radius",
        "label": "t:settings_schema.general.settings.style_arrows.options__1",
        "max": 50,
        "min": 0,
        "step": 1,
        "unit": "t:settings_schema.typography.settings.font_size.unit",
        "default": 3
      },
      {
        "type": "range",
        "id": "height_width",
        "label": "t:sections.image-banner.blocks.image.settings.style.countdown_box_size",
        "max": 200,
        "min": 0,
        "step": 2,
        "unit": "t:settings_schema.typography.settings.font_size.unit",
        "default": 82
      },
      {
          "type": "collection",
          "id": "product_block_collection",
          "label": "t:settings_schema.typography.settings.typography.collection"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "t:settings_schema.product_card.settings.product_vendor.label__1",
        "default": true
      },
      {
          "type": "range",
          "id": "product_block_limit",
          "label": "t:sections.product_block.settings.product_block_limit",
          "min": 1,
          "max": 20,
          "step": 1,
          "default": 8
      },
      {
          "type": "select",
          "id": "layout",
          "label": "t:sections.main-collection-product-grid.settings.product.label__2",
          "default": "4",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            },
            {
                "value": "5",
                "label": "t:sections.main-collection-product-grid.settings.product.options__5"
            }
          ]
      },
      {
          "type": "select",
          "id": "layout_tablet",
          "label": "t:sections.main-collection-product-grid.settings.product.label__3",
          "default": "2",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            },
            {
                "value": "5",
                "label": "t:sections.main-collection-product-grid.settings.product.options__5"
            }
          ]
      },
      {
          "type": "select",
          "id": "layout_mobile",
          "label": "t:sections.main-collection-product-grid.settings.product.label__4",
          "default": "1",
          "options": [
            {
                "value": "1",
                "label": "t:sections.main-collection-product-grid.settings.product.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.main-collection-product-grid.settings.product.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.main-collection-product-grid.settings.product.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.main-collection-product-grid.settings.product.options__4"
            },
            {
                "value": "5",
                "label": "t:sections.main-collection-product-grid.settings.product.options__5"
            }
          ]
      },
      {
          "type": "select",
          "id": "animations_type_product",
          "label": "t:sections.animation.label_1",
          "default": "none",
          "options": [
            {
                "value": "none",
                "label": "t:sections.animation.settings.type.option_0"
            },
            {
                "value": "fadeIn",
                "label": "fadeIn"
            },
            {
                "value": "fadeInLeft",
                "label": "fadeInLeft"
            },
            {
                "value": "fadeInRight",
                "label": "fadeInRight"
            },
            {
                "value": "fadeInUp",
                "label": "fadeInUp"
            },
            {
                "value": "fadeInDown",
                "label": "fadeInDown"
            },
            {
                "value": "slideInLeft",
                "label": "slideInLeft"
            },
            {
                "value": "slideInRight",
                "label": "slideInRight"
            },
            {
                "value": "slideInUp",
                "label": "slideInUp"
            },
            {
                "value": "slideInDown",
                "label": "slideInDown"
            },
            {
                "value": "zoomIn",
                "label": "zoomIn"
            },
            {
                "value": "zoomInLeft",
                "label": "zoomInLeft"
            },
            {
                "value": "zoomInRight",
                "label": "zoomInRight"
            },
            {
                "value": "zoomInUp",
                "label": "zoomInUp"
            },
            {
                "value": "zoomInDown",
                "label": "zoomInDown"
            },
            {
                "value": "bounce",
                "label": "bounce"
            },
            {
                "value": "bounceIn",
                "label": "bounceIn"
            },
            {
                "value": "bounceInLeft",
                "label": "bounceInLeft"
            },
            {
                "value": "bounceInRight",
                "label": "bounceInRight"
            },
            {
                "value": "bounceInUp",
                "label": "bounceInUp"
            },
            {
                "value": "bounceInDown",
                "label": "bounceInDown"
            },
            {
                "value": "rotateIn",
                "label": "rotateIn"
            },
            {
                "value": "rotateInDownLeft",
                "label": "rotateInDownLeft"
            },
            {
                "value": "rotateInDownRight",
                "label": "rotateInDownRight"
            },
            {
                "value": "rotateInUpLeft",
                "label": "rotateInUpLeft"
            },
            {
                "value": "rotateInUpRight",
                "label": "rotateInUpRight"
            }
          ]
      },
      {
        "type": "text",
        "id": "animation_delay_product",
        "label": "t:sections.animation.label_2",
        "default": "0s",
        "info": "t:sections.animation.label_3"
      },
      {
        "id": "product_title_color",
        "type": "color",
        "label": "t:sections.product_block.settings.product_title_color"
      },
      {
        "id": "product_title_hover_color",
        "type": "color",
        "label": "t:sections.product_block.settings.product_title_hover_color"
      },
      {
        "id": "price_color",
        "type": "color",
        "label": "t:sections.product_block.settings.price_color"
      },
      {
        "id": "decount_price_color",
        "type": "color",
        "label": "t:sections.product_block.settings.sale_price"
      },
      {
        "type": "header",
          "content": "t:settings_schema.product_card.name"
      },
      {
          "type" : "color",
          "id" : "card_background_color",
          "label" : "t:settings_schema.colors.settings.colors_name.background_color"
      },
      {
          "type": "checkbox",
          "id": "card_border",
          "label": "t:sections.layout.border",
          "default": true
      },
      {
          "type": "range",
          "id": "card_border_width",
          "label": "t:sections.general.settings.border.border_width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 1
      },
      {
          "type" : "color",
          "id" : "card_border_color",
          "label" : "t:sections.general.settings.border.border_color"
      },
      {
          "type": "range",
          "id": "card_border_radius",
          "label": "t:sections.general.settings.border.border_radius",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "t:sections.layout.mg_desktop.unit",
          "default": 0
      },
      {
        "type": "color",
        "id": "sale_badge_color",
        "label": "t:settings_schema.product_card.settings.product_badge.label__11"
      },
      {
        "type": "color",
        "id": "sale_badge_bg",
        "label": "t:settings_schema.product_card.settings.product_badge.label__12"
      }
    ],
    "presets": [{
        "name": "t:sections.product_block.name_4"
    }]
}
{% endschema %}